.unno-basic-navbar {
   background-color:#fff;
   border-bottom: 0px none;
}
.icon-brand {float: left;height: 50px;padding: 5px 5px;font-size: 18px;line-height: 20px;}
.center { text-align:center; }
.well { color:#000; }
.main-title { font-size:160%;font-weight:bold; }
.simple-text { font-size:16pt;font-weight:bold; }
